/* Estilos para el cuerpo y el HTML */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%; /* Asegura que ocupen el 100% de la altura del viewport */
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  box-sizing: border-box; 
}

/* Estilos para el componente principal App.jsx */
.App {
  display: flex;
  flex-direction: column;
  min-height: 80vh; 
}





